<!DOCTYPE html>
<html>
  <head>
    <title><%%= t '.company' %> (<%%= t '.company_abbr' %>) - <%%= yield(:title) %></title>
    <%%= stylesheet_link_tag    "application", media: "all" %>
    <%%= javascript_include_tag "application" %>
    <%%= csrf_meta_tags %>
  </head>
  <body>

    <%%= render 'layouts/header' %>

    <div id="main_content" class="main_content">
      <h1><%%= yield(:title) %></h1>
      <%%= render 'layouts/message' %>

      <%%= yield %>

    </div>

    <%%= render 'layouts/footer' %>

  </body>
</html>
